---

- name: Install packages
  homebrew_cask:
    name: "{{ item }}"
    state: present
  with_items:
    - alacritty
    - alfred
    - firefox
    - google-chrome
    - google-japanese-ime
    - karabiner-elements
    - vagrant
    - virtualbox

- name: Install NerdFont
  get_url:
    url: https://github.com/ryanoasis/nerd-fonts/raw/master/patched-fonts/SourceCodePro/Medium/complete/Sauce%20Code%20Pro%20Medium%20Nerd%20Font%20Complete.ttf
    dest: "{{ ansible_user_dir }}/Library/Fonts/"

- name: Allow 'sudo' group to have passwordless sudo
  lineinfile:
    path: /etc/sudoers
    state: present
    regexp: '^%admin'
    line: '%admin		ALL = (ALL) NOPASSWD: ALL'
    validate: '/usr/sbin/visudo -cf %s'
  become: yes

- name: Ensure vm_share directory present
  file:
    path: "{{ ansible_user_dir }}/vm_share"
    state: directory
    mode: 0755
