---

- name: Install buil-essential, curl, fuse, pwgen, python3-dev, ruby-dev, socat, unar
  apt:
    name:
      - build-essential
      #- cifs-utils
      - curl
      #- dh-make
      #- git-buildpackage
      #- cowbuilder
      #- dnsutils
      - fuse                    # appimages
      - pwgen
      - python3-dev
      - ruby-dev                # for native gems
      - socat
      - unar
      #- universal-ctags
      #- zlib1g-dev
    state: latest
  become: yes

- name: Install golang, nnn on sid
  apt:
    name:
      - golang
      - nnn
    state: latest
    default_release: sid
  become: yes

- name: Install python packages of ansible, black, flake8, powerline-status, pre-commit
  pip:
    name:
      - ansible
      - black
      #- aws-shell
      - flake8
      #- httpie
      #- mycli==1.18.0
      #- pgcli
      - powerline-status
      - pre-commit
      #- python-language-server
    executable: "{{ ansible_user_dir }}/.local/bin/pip"
    extra_args: --user
    state: latest

# for install package_cloud
# /usr/bin/ruby2.5: No such file or directory -- /usr/share/rubygems-integration/all/gems/rake-12.3.1/exe/rake (LoadError)
- name: Ensure directory /usr/share/rubygems-integration/all/gems/rake-12.3.1/exe exist
  file:
    path: /usr/share/rubygems-integration/all/gems/rake-12.3.1/exe
    state: directory
  become: yes

- name: Create symbolic link of rake
  file:
    src: /usr/bin/rake
    dest: /usr/share/rubygems-integration/all/gems/rake-12.3.1/exe/rake
    state: link
  become: yes

- name: Install ruby packages of package_cloud, pre-commit
  gem:
    name: "{{ item }}"
    state: latest
  with_items:
    - package_cloud
    - pre-commit

- name: Install node packages of @vue/cli, @bitwarden/cli, joplin
  yarn:
    name: "{{ item }}"
    global: yes
    state: latest
  with_items:
    - "@vue/cli"
    - "@bitwarden/cli"
    - joplin
