---

- name: Install python3-dev of sid
  apt:
    name:
      - python3-dev
      - libc6-dev
    state: latest
    default_release: sid
  become: yes

- name: Check install of pip
  stat:
    path: "{{ ansible_user_dir }}/.local/bin/pip"
  register: pip

- name: Install pip
  shell: |
    curl https://bootstrap.pypa.io/get-pip.py -o get-pip.py
    python3 get-pip.py --user
    rm get-pip.py
  args:
    warn: no
  when: pip.stat.exists == False

- name: Install black, flake8, pre-commit
  pip:
    name:
      - black
      - flake8
      - pre-commit
      #- python-language-server
    executable: "{{ ansible_user_dir }}/.local/bin/pip"
    extra_args: --user
    state: latest
