---

- name: ensure config folders exists
  file:
    path: "{{ ansible_user_dir }}/{{ item }}"
    state: directory
  with_items:
    - .config/fish
    - .config/git
    - .config/ranger

- name: gitconfig
  copy:
    src: gitconfig
    dest: "{{ ansible_user_dir }}/.gitconfig"

- name: gitignore
  copy:
    src: gitignore
    dest: "{{ ansible_user_dir }}/.config/git/ignore"

- name: config fish
  copy:
    src: fish.config
    dest: "{{ ansible_user_dir }}/.config/fish/config.fish"

- name: set fish as login shell and add docker to groups
  user:
    name: "{{ ansible_user_id }}"
    shell: /usr/bin/fish
    groups: docker
    append: yes
  become: yes

- name: config ranger
  copy:
    src: ranger.rc.conf
    dest: "{{ ansible_user_dir }}/.config/ranger/rc.conf"

- name: config tmux
  copy:
    src: tmux.conf
    dest: "{{ ansible_user_dir }}/.tmux.conf"

- name: config vim
  copy:
    src: vim/
    dest: "{{ ansible_user_dir }}"

- name: install vim plugins
  shell: vim -u {{ ansible_user_dir }}/.vim/plugin.vim +PluginInstall +qall
