---

- name: Install backports packages
  apt: name={{ item }} default_release=jessie-backports state=latest
  with_items:
    - powerline
    - tmux
  become: yes

- name: Install packages
  apt: name={{ item }} state=latest
  with_items:
    - zsh
    - vim-nox
    - ranger
    - curl
    - exuberant-ctags
    - cifs-utils
    - docker-engine
    - nodejs
  become: yes

- name: Install pip packages
  pip: name={{ item }}
  with_items:
    - docker-compose
  become: yes
