---

- name: Install packages
  apt:
    name: "{{ item }}"
    state: latest
  with_items:
    - avahi-daemon
    - build-essential
    - cifs-utils
    - cowbuilder
    - curl
    - dh-make
    - docker-ce
    - exuberant-ctags
    - fish
    - git
    - kubeadm
    - kubectl
    - kubelet
    - nodejs
    - openssh-server
    - python3-dev
    - ripgrep
    - rsync
    - ruby-dev
    - tmux
    - unar
    - vim-nox
    - yarn
  become: yes

- name: Install pip packages
  pip:
    name: "{{ item }}"
    executable: "{{ ansible_user_dir }}/.local/bin/pip"
    extra_args: --user
  with_items:
    - ansible
    - httpie
    - mycli
    - pgcli
    - powerline-status
    - ranger-fm
    - youtube_dl

  # /usr/bin/ruby2.3: No such file or directory -- /usr/share/rubygems-integration/all/gems/rake-10.5.0/bin/rake (LoadError)
- name: symbolic link of rake
  file:
    path: /usr/share/rubygems-integration/all/gems/rake-12.3.0/exe
    state: directory
  become: yes

- file:
    src: /usr/bin/rake
    dest: /usr/share/rubygems-integration/all/gems/rake-12.3.0/exe/rake
    state: link
  become: yes

- name: Install gem packages
  gem:
    name: "{{ item }}"
  with_items:
    - package_cloud
    - rubocop
    - rubocop-rspec
