[Desktop Entry]
Name=FirefoxNightly
Comment=Browse the World Wide Web
GenericName=Web Browser
Exec=env GDK_BACKEND=wayland {{ ansible_user_dir }}/firefoxnightly/firefox %u
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=firefox
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/vnd.mozilla.xul+xml;application/rss+xml;application/rdf+xml;image/gif;image/jpeg;image/png;x-scheme-handler/http;x-scheme-handler/https;
StartupWMClass=Firefox
StartupNotify=true
